doctype html 
html
    head 
        meta(charset="utf-8")
        title LMK 
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Rubik+Broken+Fax&display=swap" rel="stylesheet")
        link(href="css/main" id="mainStylesheet" rel="stylesheet" type="text/css")
    body(onload="getUser()" id="body")
        div(id="overlay" onclick="closePopup()")
            div(id="popup" onclick="stopPropagation(event)")
        include navbar.pug
        section(id="userInfo")
            div(id="myProfPic")
            section
                p(id="myUsername")
                p(id="postCount") Posts: 0
                p(id="resMessage")
        section(id="userPosts")
        script(src="/js/main.js" defer)
        script(src="/js/account.js" defer)
        script(src="https://kit.fontawesome.com/224f862d86.js" crossorigin="anonymous")