nav 
    ul 
        li 
            a(href="/main") LMK!
        li
            a(href="/main") Feed 
        li
            a(href="/create-post") Create Post 
        li 
            a(href="/account") Account
div(id="spacer" style="margin-top: 140px;")